doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
  body
    h1= title
    a(href="/update-cobj") Add to this table
    if error
      p(style="color:red")= error
    if records && records.length
      table(border="1" cellpadding="6" cellspacing="0")
        thead
          tr
            each p in props
              th= p
        tbody
          each r in records
            tr
              each p in props
                - const v = r.properties && r.properties[p] ? r.properties[p] : ''
                td= v
    else
      p No records found.
